<h1>Welcome</h1>

It's <%= Time.now %></br>

We have only <b><%= pluralize(@total_orders, "fucking order" ) %>.</b>

<br>
<p>Edit Product Database <a href="/products">here</a></p>
                    <p>Visit The Store <a href="/store/">here</a></p>